{% extends layout('products') %}

{% block content %}
    <div id="products">

        <header>

            <h1>{{ product_usage.title }}</h1>

            {% if product_usage.description %}
                <p>{{ product_usage.description|raw }}</p>
            {% endif %}

        </header>

        {{ view("defr.module.catalog::products/partials/products", {"products": products}) }}

        {{ products.render|raw }}

    </div>
{% endblock %}
