{% extends layout('products') %}

{% block content %}
    <div id="products">

        <header>
            <h1>{{ trans('defr.module.catalog::message.tagged', {'tag': tag}) }}</h1>
        </header>

        {{ view("defr.module.catalog::products/partials/products", {"products": products}) }}

        {{ products.render|raw }}

    </div>
{% endblock %}
