{% for product in products %}
    <article class="product">

        <header>

            <h2><a href="{{ url(product.path) }}">{{ product.title }}</a></h2>

            <div class="meta">

                <span class="author">
                    {{ product.author.display_name }}
                </span>

                <time class="date" datetime="{{ product.publish_at.iso }}">
                    {{ product.publish_at.format(config_get('streams::datetime.date_format')) }}
                </time>

                {% if product.category %}
                    <span class="category">
                        {{ html_link(product.category.path, product.category.name) }}
                    </span>
                {% endif %}

                {% if product.tags %}
                    <span class="tags">
                        {{ product.tag_links|join(' ')|raw }}
                    </span>
                {% endif %}

            </div>

        </header>

        <div class="summary">
            {% if product.summary %}
                <p>{{ product.summary|nl2br|raw }}</p>
            {% endif %}
        </div>

    </article>
{% endfor %}
