.form {
  [data-field='properties'],
  [data-field='variants'] {
    .field-group {
      display: inline-block;
      margin-bottom: 0;
      padding-bottom: .5rem;
      width: 48%;
    }
  }
}

// .repeater-field_type .repeater-container[data-field="variants"] .repeater-item .repeater-body .field-group {
//   display: inline-block;
//   width: 24%;
// }

input.form-control:focus {
  pointer-events: none;
}

a, area, button, [role="button"], input, label, select, summary, textarea {
  touch-action: none;
  }
