{% extends layout('products') %}

{% block content %}
    <div id="products">

        <header>

            <h1>
                {{ year }}

                {% if month %}
                    <small>{{ month|raw }}</small>
                {% endif %}
            </h1>

        </header>

        {{ view("defr.module.catalog::products/partials/products", {"products": products}) }}

        {{ products.render|raw }}

    </div>
{% endblock %}
