{% extends product.type.theme_layout.key %}

{% block content %}

    <div id="products">
        <article id="product">

            <header>

                <h1>{{ product.title }}</h1>

                <div class="meta">

                    <span class="author">
                        {{ product.author.display_name }}
                    </span>

                    <time class="date" datetime="{{ product.publish_at.iso }}">
                        {{ product.publish_at.format(config_get('streams::datetime.date_format')) }}
                    </time>

                    {% if product.category %}
                        <span class="category">
                            {{ html_link(product.category.path, product.category.name) }}
                        </span>
                    {% endif %}

                    {% if product.tags %}
                        <span class="tags">
                            {{ product.tags.labels|join(' ')|raw }}
                        </span>
                    {% endif %}

                </div>

            </header>

            <div class="content">
                {{ content|raw }}
            </div>

        </article>
    </div>
{% endblock %}
